<div class="divisions">
  <% @divisions.each do | d | %>
    <h1>Division <%= d.division_number %></h1>
    <table class="table table-sm table-hover table-inverse">
      <th>Team</th>
      <th>Pl</th>
      <th>GF</th>
      <th>GA</th>
      <th>GD</th>
      <th>Pts</th>
      <% teams = d.teams.order('points DESC') %>
      <% teams.each do | team | %>
        <% if team.division.division_number == d.division_number %>
          <div>
            <tr>
              <td><%= team.name %></td>
              <td><%= team.games.count %></td>
              <td><%= team.goals_for %></td>
              <td><%= team.goals_against %></td>
              <td><%= team.goals_for - team.goals_against unless team.goals_for.nil? && team.goals_against.nil? %></td>
              <td><%= team.points %></td>
            </tr>
          </div>
        <% end %>
      <% end %>
    </table>
  <% end %>
</div>
