<%= form_tag(admin_center_matches_path) do %>
  <%= hidden_field_tag "id", params[:id] %>
  <div class="form-row">
    <div class="col-md-10 mb-1">
      <%= label_tag "first_team_id", nil, class: "small" %>
      <%= select_tag "first_team_id", options_from_collection_for_select(Team.all, "id", "name"), prompt: "Select Team", class: "form-control" %>
    </div>

    <div class="col-md-2 mb-1">
      <%= label_tag "first_team_goals", nil, class: "small" %>
      <%= number_field_tag "first_team_goals", nil, class: "form-control" %>
    </div>
  </div>

  <div class="form-row">
    <div class="col-md-10 mb-1">
      <%= label_tag "second_team_id", nil, class: "small" %>
      <%= select_tag "second_team_id", options_from_collection_for_select(Team.all, "id", "name"), prompt: "Select Team", class: "form-control" %>
    </div>

    <div class="col-md-2 mb-1">
      <%= label_tag "second_team_goals", nil, class: "small" %>
      <%= number_field_tag "second_team_goals", nil, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag "kind", nil, class: "small mb-1" %>
    <%= select_tag "kind", options_for_select(Match.kinds.map { |k,v| [ k, v ] }), class: "form-control" %>
  </div>

  <div class="form-group">
    <%= label_tag "start_at", nil, class: "small mb-1" %>
    <div class='input-group date' id='datetimepicker'>
      <input type='text' class="form-control" />
      <span class="input-group-addon">
          <span class="fas fa-calendar"></span>
      </span>
    </div>
    <%#= datetime_field "start_at", nil, class: "form-control" %>
  </div>
  
  <%= submit_tag "Create Match", class: "mt-4" %>
<% end %>