<div class="col-lg-4">
  <div class="schedule-sidebar">
    <div class="ss-widget">
      <div class="section-title sidebar-title">
        <h5>Schedule</h5>
      </div>
      <ul>
        <li><a href="#">Saturday, 15 June 2019</a></li>
        <li><a href="#">Sunday, 16 June 2019</a></li>
        <li><a href="#">Monday, 17 June 2019</a></li>
        <li><a href="#">Tuesday, 18 June 2019</a></li>
        <li><a href="#">Wednesday, 19 June 2019</a></li>
      </ul>
    </div>
    <div class="ss-league">
      <div class="section-title sidebar-title">
        <h5>Divisions</h5>
      </div>
      <a href="#" class="sl-item">
      <%= image_tag "schedule/flag-1.jpg", alt: "" %>
      <span>Division One</span>
      </a>
      <a href="#" class="sl-item">
      <%= image_tag "schedule/flag-2.jpg", alt: "" %>
      <span>Division Two</span>
      </a>
      <a href="#" class="sl-item">
      <%= image_tag "schedule/flag-3.jpg", alt: "" %>
      <span>Division Three</span>
      </a>
      <a href="#" class="sl-item">
      <%= image_tag "schedule/flag-4.jpg", alt: "" %>
      <span>Division Four</span>
      </a>
      <a href="#" class="sl-item">
      <%= image_tag "schedule/flag-5.jpg", alt: "" %>
      <span>Division Five</span>
      </a>
    </div>
  </div>
</div>