<div class="game-results">
  <h1>Game Results</h1>
  <div  class="tbl-content">
  <table class="test-table">
      <% @results.each do | game | %>
        <tr>
          <td><%= game.team_a.name %></td>
          <td class="score"><%= game.team_a_score %></td>
          <td class="score"><%= game.team_b_score %></td>
          <td><%= game.team_b.name %></td>
          <% if @current_player.present? && @current_player.admin? %>
            <td><%= link_to "Edit Game", edit_game_path(game.id) %></td>
            <td><%= button_to "Delete Game", delete_game_path(game.id), method: 'delete' %></td>
            <% end %>
        </tr>
      <% end %>
    </div>
  </table>
</div>
