<h1> Match Result</h1>
<%= @game.team_a.name %> | <%= @game.team_a_score %> | <%= @game.team_b.name %> | <%= @game.team_b_score %> |

<%if @current_player.present? && @current_player.admin? %>
  <div class="controls">
    <%= link_to 'Edit Game', edit_game_path(@game.id) %>
  </div>
<% end %>
