<div class="container-fluid">
  <h1 class="mt-4"><%= @team.name %></h1>
  <ol class="breadcrumb mb-4">
      <li class="breadcrumb-item"><%= link_to "Dashboard", admin_center_root_path %></li>
      <li class="breadcrumb-item"><%= link_to "Teams", admin_center_teams_path %></li>
      <li class="breadcrumb-item active"><%= @team.name %></li>
  </ol>
  <div class="card mb-4">
    <div class="card-header"><i class="fas fa-table mr-1"></i>All teams</div>
    <div class="card-body">
      <ul class="nav nav-tabs" id="teams-tab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="teams-tab" data-toggle="tab" href="#teams" role="tab" aria-controls="teams" aria-selected="true">Team info</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Team stats</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="contact-tab" data-toggle="tab" href="#players" role="tab" aria-controls="contact" aria-selected="false">Players</a>
        </li>
      </ul>
      <div class="tab-content" id="teams-content">
        <div class="tab-pane fade show active" id="teams" role="tabpanel" aria-labelledby="teams-tab">
          Here we are
        </div>
        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">...</div>
        <div class="tab-pane fade" id="players" role="tabpanel" aria-labelledby="players-tab">
          <%= render "players" %>
        </div>
      </div>

    </div>
  </div>
</div>