<h1>User info</h1>
<%= form_for @player do |f| %>
  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :email %>
    <%= f.text_field :email %>
  </p>

  <p>
    <%= f.label :dob %>
    <%= f.text_field :dob %>
  </p>
  <p>
    <%= f.label :password %>
    <%= f.password_field :password %>
  </p>

  <p>
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
  </p>

  <p>
    <%= f.label :image %>
    <%= f.url_field :image %>
  </p>

  <p>
    <%= f.label :team_id %>
    <%= f.select :team_b_id, Team.pluck(:name, :id), :prompt => 'Select Team' %>
  </p>


  <%= f.submit %>

<% end %>
