<div class="col-xs-4 user-form">
  <h2>Sign Up</h2>
  
  <%= form_for @player do |f| %>
    <%= f.email_field :email, :class => 'form-control', :placeholder => 'email' %>
    <%= f.password_field :password, :placeholder => 'password', :class => 'form-control' %>
    <%= f.password_field :password_confirmation, :placeholder => 'password confirmation', :class => 'form-control' %>

    <%= f.submit 'Sign up!', :class => 'btn btn-primary' %>
  <% end %>
  <p> Already have an account? <%= link_to "Login", login_path %>
</div>
