<!DOCTYPE html>
<html>
<head>
  <title>FutsalHomebushLeague</title>


  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>

  <%= cloudinary_js_config %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
  <div class="page-header">
      <nav>
        <ul>
          <div class="menu-nav">
            <li class="active link-1"><%= link_to 'Home', root_path %></li>
            <li class="link-1"><%= link_to 'Teams', teams_path %></li>
            <li class="link-1"><%= link_to 'Results', games_results_path %></li>
            <li class="link-1"><%= link_to 'Fixtures', games_fixtures_path %></li>
            <li class="link-1"><%= link_to 'Divisions', divisions_path %></li>
          </div>
          <div class="menu-user-nav">
            <% unless @current_player %>
              <li><%= link_to 'Sign Up', new_player_path %></li> |
              <li><%= link_to 'Login', login_path %></li>
            <% else %>
              <li>
                <%= link_to "Logout #{@current_player.name.split(' ')[0] if @current_player.name.present? }", login_path, :method => 'delete' %>
              </li>

              <li>
                <%= link_to(raw('<span class="glyphicon glyphicon-user"></span>'), player_path(@current_player.id)) %>
              </li>
            <% end %>
          </div>
        </ul>
      </nav>
  </div>
</header>
<div class="container">
    <div id="banner">
      <%= image_tag('/assets/futsal-banner.png') %>
    </div>
  <%= yield %>
</div>
<footer class="footer-distributed">
	<div class="footer-left">

		<p class="footer-links">
			<a href="#">Home</a>
			·
			<a href="#">About</a>
			·
			<a href="#">Faq</a>
			·
			<a href="#">Contact</a>
		</p>

		<p class="footer-company-name">Company Name © 2015</p>
	</div>

	<div class="footer-center">

		<div>
			<i class="fa fa-map-marker"></i>
			<p><span>21 Revolution Street</span> Paris, France</p>
		</div>

		<div>
			<i class="fa fa-phone"></i>
			<p>+1 555 123456</p>
		</div>

		<div>
			<i class="fa fa-envelope"></i>
			<p><a href="mailto:support@company.com">support@company.com</a></p>
		</div>

	</div>

	<div class="footer-right">

		<p class="footer-company-about">
			<span>About the company</span>
			Lorem ipsum dolor sit amet, consectateur adispicing elit. Fusce euismod convallis velit, eu auctor lacus vehicula sit amet.
		</p>

		<div class="footer-icons">

			<a href="#"><i class="fa fa-facebook"></i></a>
			<a href="#"><i class="fa fa-twitter"></i></a>
			<a href="#"><i class="fa fa-linkedin"></i></a>
			<a href="#"><i class="fa fa-github"></i></a>

		</div>

	</div>

</footer>

</body>
</html>
